#portfolio  {
  margin: 0 auto;
  min-height: calc(100vh-4rem);
  width: 100vw;
  max-width: 60rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
}

.portfolioTitle {
  margin: 1.5rem 0;
  font-size: 3rem;
}

.portfolioDesc  {
  font-weight: 300;
  font-size: 1rem;
  max-width: 45rem;
  margin-bottom: 2.5rem;
}

.card  {
  margin: 1rem 0;
  width: 40rem;
  font-family: 'Poppins', sans-serif;
}

.cardImg  {
  height: fit-content;
}

.cardContent  {
  background: rgb(50,50,50);
  color: white;
  font-family: 'Poppins', sans-serif;
}

.cardBtn  {
  background: rgb(50,50,50);
}

@media screen and (max-width: 720px)  {
.card {
  width: 20rem;
}
}
